<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Nuno Bento <nbento.neves@gmail.com>">

    <title>Sesame Java - Make magic with sesames</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <link href="css/sesame.css" rel="stylesheet">
</head>

<body id="page-top">

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Interface for <span th:text="${className}"></span></h1>
        <p class="lead">Now you can test your interface only with one dependency 😎</p>
    </div>
</header>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <h2>Make magic 🎩</h2>
                <br/>
                <div class="accordion">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Library Info <span class="btn btn-link" type="button"
                                                                data-toggle="collapse"
                                                                data-target="#collapseInfo" aria-expanded="true"
                                                                aria-controls="collapseOne">⬆️</span></h4>
                        </div>

                        <div id="collapseInfo" class="collapse show" aria-labelledby="headingOne">
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Package:</th>
                                        <td colspan="2" th:text="${packageName}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Class Name:</th>
                                        <td colspan="2" th:text="${className}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Method:</th>
                                        <td colspan="2" th:text="${methodName}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Method Description:</th>
                                        <td colspan="2" th:text="${methodDescription}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Return:</th>
                                        <td colspan="2" th:text="${returnObject}"></td>
                                        <!-- FIXME: Need to add a description to return values -->
                                        <!--<td></td>-->
                                    </tr>
                                    <tr th:each="instance : ${paramObjects}">
                                        <th scope="row" th:text="${instance.key}"></th>
                                        <td colspan="2" th:text="${instance.value.getDisplayType()}"></td>
                                        <!-- FIXME: Need to add a description value -->
                                        <!--<td></td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Testing</h4>
                        </div>
                        <div class="card-body">
                            <label>Request Json:</label>
                            <div class="alert alert-info" role="alert">
                                <p>You should insert the parameters using json, please insert a parameter per
                                    json value</p>
                                <p>E.g:</p>
                                <pre class="pre-scrollable">
                                        <code>
[
    {
        "isPrimitive": true,
        "value": "2"
    },
    {
        "isPrimitive": true,
        "value": "3"
    }
]
                                        </code>
                                    </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mx-auto" style="margin-top: 70px;">
                <div class="accordion">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Testing</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <form action="#" th:action="@{/submit}" th:object="${value}" th:method="post">
                                    <textarea th:field="*{json}" class="form-control requestTextArea" id="formRequest"
                                              rows="3"></textarea>
                                    <br/>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit Request
                                    </button>
                                    <br/>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Result</h4>
                        </div>
                        <div class="card-body">
                            <textarea th:text="*{result}" class="form-control responseTextArea" id="resultTextArea"
                                      rows="3"
                                      contenteditable="false"></textarea>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="alert alert-danger" role="alert"><span th:text="*{errorMessage}"></span></div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Powered by &copy; Nuno Bento 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script>

</body>

</html>
